# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local development settings
venv/
*.env

# Logs and coverage files
*.log
.stacker_history
.coverage

# System files
.DS_Store

# Swap files
*.swp

# Cache files
.pytest_cache/
.ruff_cache/
